// :root {
//   --el-color-primary: red;
// }

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--el-color-primary);
}

code {
  padding: 2px 4px;
  color: var(--el-color-primary);
  background-color: var(--el-color-primary-light-9);
  border-radius: 2px;
}
